:root {
	--index: calc(1vw + 1vh);
}

.footer {
	line-height: 1.5;
	display: flex;
	padding: calc(var(--index) * 6) calc(var(--index) * 6) calc(var(--index) * 3) calc(var(--index) * 6);
}

.container {
	max-width: 1170px;
	margin: auto;
}

.footer-text {
	font-size: calc(var(--index) * 0.7);
}

.footer-links {
	padding: 0 0 0 calc(var(--index) * 35);
}

.footer-links a {
	display: block;
	color: black;
	text-decoration: none;
}

.footer-links p {
	font-size: calc(var(--index) * 0.7);
}

.centered-stripe {
	width: 80%;
	height: 1px;
	background-color: #000;
	margin: 0 auto;
}